{% raw %}
<div class="row">
	<div class='col-md-8'>
		<small><a href="" ng-click="back()">Back</a></small>
	</div>
</div>
<div class="row">
	<div class="col-md-8"><h2>{{ venue.displayName}}</h2></div>
</div>
<div class="row">
	 <div class="col-md-4">
	 	<p><strong>Address</strong>: {{ venue.address }}</p>					
		<p><strong>Capacity</strong>: {{ venue.capacity}}</p>	  		  		
	 </div>
	 <div class="col-md-4">
	 	<p><strong>Description</strong>: {{ venue.description }}</p>
	 </div>
</div>
{% endraw %}
  	