{% raw %}
<div class="row">
	<h2 class="col-md-8">Venues Database</h2>
</div>
<div class="row" ng-show='isAdmin'>
	<div class='col-md-8'>
		<small><a href="" ng-click="addVenue()">Add</a></small> |
		<small><a href="" ng-click="export()">Export</a></small> |
		<small><a href="" ng-click="import()">Import</a></small>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<table class="table table-hover">
			<thead>
			<tr>
				<th>Display Name</th>
				<th>Address</th>
				<th>Description</th>
				<th>Capacity</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="venue in venues" ng-click="showVenue(venue)">
				<td>{{venue.displayName}}</td>
				<td>{{venue.address}}</td>
				<td>{{venue.description}}</td>
				<td>{{venue.capacity}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<script type="text/ng-template" id="export.html">
	<div class="modal-header">
    	<h3 class="modal-title">Export Data</h3>
    </div>
    <div class="modal-body">
    	<a href="/export" target="_blank">Download</a>
    </div>	
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Close</button>
    </div>
</script>

<script type="text/ng-template" id="import.html">
	<div class="modal-header">
    	<h3 class="modal-title">Import Data</h3>
    </div>
    <div class="modal-body">
    	<form role="form" action="/import" target="_blank" method="post" enctype="multipart/form-data">
    		<div class="form-group">
    			<input type="file" name="uploadFile" />
    		</div>
    		<button type="submit" class="btn btn-default">Import</button>
    	</form>
    </div>	
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Close</button>
    </div>
</script>
 {% endraw %}