{% raw %}
<div class="row">
	<h2 class="col-md-8">Venues Database</h2>
</div>
<div class="row" ng-show='isAdmin'>
	<div class='col-md-8'>
		<small>Add</small>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<table class="table table-hover">
			<thead>
			<tr>
				<th>Unique Name</th>
				<th>Display Name</th>
				<th>Address</th>
				<th>Description</th>
				<th>Capacity</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="venue in venues" ng-click="showVenue(venue)">
				<td>{{venue.canonicalName}}</td>
				<td>{{venue.displayName}}</td>
				<td>{{venue.address}}</td>
				<td>{{venue.description}}</td>
				<td>{{venue.capacity}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
 {% endraw %}